#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(234,244,251,255);
  color:#466a9a;
}

.search{
  padding:2px;
  background-color:  rgba(234,244,251,255);
  color:black;
  border-color:rgba(234,244,251,255);
}
.temperature-icon {
  display: flex;
  align-items: center;
}

.divider {
  border-top: 1px solid #000; 
}

.temperature {
  font-size: 20px;
  margin-right: 10px; 
  width: 100%;
}
.temperature-logo {
  display: flex;
  align-items: center;
  gap: 10px; 
}


